.movieCard {
    width: 280px;

    border-radius: 10px;
    padding: 20px;
    border: 1px solid #3f3a3a;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.title:hover{
    color: #463030;
}